<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:name="android.support.multidex.MultiDexApplication"
    package="com.softhex.sonic">

    <uses-sdk tools:overrideLibrary="androidx.appcompat" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultAppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.softhex.sonic.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBs4N0SSafiqiazp7mQQUaOI1q97TnXayw" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sonicSplash"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".sonicEmpresa"
            android:theme="@style/IntroTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/IntroTheme"
            android:name=".sonicFirstAccess"/>
        <activity
            android:name=".sonicLogin"
            android:theme="@style/IntroTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".sonicAvisos"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicMain"
            android:theme="@style/TranslucedAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicConfig"
            android:theme="@style/PreferenceAppTheme"/>
        <activity
            android:name=".sonicConfigPerson"
            android:theme="@style/PreferenceAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sonicConfig" />
            </activity>
        <activity
            android:name=".sonicConfigSeguranca"
            android:theme="@style/PreferenceAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sonicConfig" />

        </activity>
        <activity
            android:name=".sonicConfigPerfil"
            android:theme="@style/DefaultAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sonicConfig" />
        </activity>
        <activity
            android:name=".sonicSincronizacao"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicClientes"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicClientesDetalhe"
            android:parentActivityName=".sonicClientes"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicPersonClienteLista"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicProdutos"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicProdutosDetalhe"
            android:parentActivityName=".sonicProdutos"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicSistema"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicRota"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sonicGraph"
            android:theme="@style/DefaultAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>